div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #7066e0 !important;
    color: #fff;
    font-size: 1em;
}